# Ignore all PNG images in the images directory
Computer Vision/Road Sign Detection/data/images/*.png

# Ignore all TXT and XML label files in the labels directory
Computer Vision/Road Sign Detection/data/labels/*.txt
Computer Vision/Road Sign Detection/data/labels/*.xml

# Ignore the labels cache file
Computer Vision/Road Sign Detection/data/labels.cache

# Ignore all VOC annotation XML files
Computer Vision/Road Sign Detection/datasets/VOC/images/VOCdevkit/VOC2007/Annotations/*.xml
# Ignore all VOC image files
Computer Vision/Road Sign Detection/datasets/VOC/images/VOCdevkit/VOC2007/JPEGImages/*.jpg